<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
        canvas  {
            width: 800px !important;
            height: 600px !important;
        }
    </style>
</head>
<body>
    <p>arrow keys to move, space to jump, z to shoot / or try a gamepad</p>
</body>
</html>
