<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="assets/scripts/phaser.min.js"></script>
    <script src="assets/scripts/phaser-arcade-slopes.min.js"></script>
    <style>
        canvas  {
            width: 800px !important;
            height: 600px !important;
        }
    </style>
</head>
<body>
    <div class="content"></div>
    <p>Arrow Keys to move, space to jump, z to shoot</p>
</body>
</html>
